<div class="flex items-center justify-between gap-4">
  <div class="size-20 shrink-0 overflow-hidden rounded">
    <img
      src="{{ variant.images[0].image.medium if variant.images and variant.images | length > 0 else image_url(('images/placeholder-image.svg' | asset_url)) }}"
      alt="{{ variant.images[0].alt_text if variant.images and variant.images | length > 0 and variant.images[0].alt_text else variant.name }}"
      class="size-full object-cover"
    />
  </div>
  <div class="flex-1">
    <h3 class="text-primary text-[20px] leading-[28px] [font-variant:all-small-caps]">{{ variant.name }}</h3>
    <p class="mt-1 text-[16px] text-[#545352] [font-variant:all-small-caps]">
      {% for attribute in variant.attributes %}
        {{ attribute.value }}{% if not loop.last %}•{% endif %}
      {% endfor %}
    </p>
    <div class="mt-2 flex items-center gap-2">
      {% if variant.formatted_sale_price %}
        <span class="text-[16px] leading-[24px]">{{ variant.formatted_sale_price }}</span>
        <span class="text-[14px] leading-[21px] text-[#c22b51] line-through"> {{ variant.formatted_price }} </span>
      {% else %}
        <span class="text-[16px] leading-[24px]">{{ variant.formatted_price }}</span>
      {% endif %}
    </div>
  </div>

  {%
    with
    content=_('Add to cart'),
    variant='text',
    size='md',
    attrs='data-variant-id="' ~ variant.id ~ '"'
  %}
    {% include 'components/ui/button.jinja' %}
  {% endwith %}
</div>
