{% set is_lazy = settings.order > 2 %}

<section
  section-id="{{ sectionId }}"
  class="section-benefits bg-secondary px-4 py-6 md:p-16"
>
  <div class="theme-container">
    {% if settings.store_features %}
      <div class="grid grid-cols-2 gap-4 text-center lg:grid-cols-4">
        {% for feature in settings.store_features %}
          <div class="flex flex-col items-center gap-4">
            {% if feature.image %}
              <picture>
                {% if feature.image_mobile %}
                  <source
                    media="(max-width: 767px)"
                    srcset="{{ image_url(feature.image_mobile, w=96, q=80, f='auto') }}"
                  />
                {% endif %}
                <img
                  src="{{ image_url(feature.image, w=96, q=80, f='auto') }}"
                  alt="{{ feature.title }}"
                  class="h-12 w-12 object-contain"
                  {% if is_lazy %}loading="lazy"{% endif %}
                />
              </picture>
            {% endif %}
            <div class="space-y-2">
              {% if feature.title and feature.title | trim %}
                <h3 class="text-foreground text-base font-semibold">{{ feature.title }}</h3>
              {% endif %}
              {% if feature.description and feature.description | trim %}
                <p class="text-foreground text-sm">{{ feature.description }}</p>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>
