<section class="px-4 py-6 md:p-16">
  <div class="theme-container space-y-6">
    <div class="mb-6 md:flex md:items-center md:justify-between">
      <h2
        class="text-primary text-[32px] leading-[41.6px] [font-variant:all-small-caps] md:text-[40px] md:leading-[48px]"
      >
        DISCOVER OUR SIGNATURE COLLECTIONS
      </h2>
      <a
        href="#"
        class="text-primary hidden gap-2 px-4 py-3 text-[16px] leading-[24px] md:flex"
      >
        View all
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path
            d="M13.9745 6.14648C14.1952 6.14826 14.3883 6.22853 14.5536 6.38965V6.39062L19.5351 11.3652C19.6246 11.4547 19.6886 11.5478 19.7285 11.6436C19.7683 11.7394 19.7889 11.8415 19.789 11.9502C19.789 12.0591 19.7683 12.1618 19.7285 12.2578C19.6886 12.3535 19.6245 12.4467 19.5351 12.5361L14.579 17.4854C14.4135 17.647 14.2209 17.7287 13.9999 17.7305C13.7792 17.7324 13.5882 17.6515 13.4267 17.4863V17.4854C13.2617 17.3242 13.1797 17.1287 13.1796 16.8975C13.1796 16.6661 13.2615 16.4681 13.4267 16.3027L16.9521 12.7773H4.70209C4.46362 12.7773 4.26671 12.6986 4.11029 12.542C3.95387 12.3854 3.87592 12.1884 3.87592 11.9502C3.87601 11.7122 3.954 11.5159 4.11029 11.3594C4.26671 11.2028 4.46362 11.1241 4.70209 11.124H16.9521L16.9091 11.0811L13.3769 7.54297C13.2118 7.38177 13.1335 7.1902 13.1415 6.96777C13.1496 6.74456 13.2365 6.55052 13.4023 6.38477C13.5636 6.22362 13.7538 6.14461 13.9745 6.14648Z"
            fill="#0B0A09"
            stroke="#0B0A09"
            stroke-width="0.05"
          ></path>
        </svg>
      </a>
    </div>
    <div class="grid grid-cols-1 gap-6 md:grid-cols-4">
      <a
        href="#"
        class="group space-y-4"
      >
        <div class="overflow-hidden rounded">
          <img
            src="{{ "images/category-1.png" | asset_url }}"
            alt="Dresses"
            class="aspect-[4/5] w-full object-cover transition-transform duration-300 group-hover:scale-105"
          />
        </div>
        <h3 class="text-start text-[24px] leading-[33.6px] md:text-center md:text-[32px] md:leading-[41.6px]">
          DRESSES
        </h3>
      </a>

      <a
        href="#"
        class="group space-y-4"
      >
        <div class="overflow-hidden rounded">
          <img
            src="{{ "images/category-2.jpg" | asset_url }}"
            alt="Shoes"
            class="aspect-[4/5] w-full object-cover transition-transform duration-300 group-hover:scale-105"
          />
        </div>
        <h3 class="text-start text-[24px] leading-[33.6px] md:text-center md:text-[32px] md:leading-[41.6px]">SHOES</h3>
      </a>

      <a
        href="#"
        class="group space-y-4"
      >
        <div class="overflow-hidden rounded">
          <img
            src="{{ "images/category-3.jpg" | asset_url }}"
            alt="Bags"
            class="aspect-[4/5] w-full object-cover transition-transform duration-300 group-hover:scale-105"
          />
        </div>
        <h3 class="text-start text-[24px] leading-[33.6px] md:text-center md:text-[32px] md:leading-[41.6px]">BAGS</h3>
      </a>

      <a
        href="#"
        class="group space-y-4"
      >
        <div class="overflow-hidden rounded">
          <img
            src="{{ "images/category-4.png" | asset_url }}"
            alt="Sets"
            class="aspect-[4/5] w-full object-cover transition-transform duration-300 group-hover:scale-105"
          />
        </div>
        <h3 class="text-start text-[24px] leading-[33.6px] md:text-center md:text-[32px] md:leading-[41.6px]">SETS</h3>
      </a>
    </div>
  </div>
</section>
