<section class="px-4 py-6 md:p-16">
  <div class="theme-container">
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
      <div class="relative flex aspect-square items-center justify-center overflow-hidden rounded">
        <img
          src="{{ "images/categories-img-1.png" | asset_url }}"
          alt="Woman in cream blazer"
          class="absolute inset-0 h-full w-full object-cover"
        />
        <div class="relative z-10 text-center">
          <h2
            class="mb-6 text-[24px] leading-[33.6px] [font-variant:all-small-caps] md:text-[32px] md:leading-[41.6px]"
          >
            NEW ARRIVALS
          </h2>
          <button class="bg-primary text-primary-foreground rounded px-4 py-3">Shop now</button>
        </div>
      </div>
      <div class="relative flex aspect-square items-center justify-center overflow-hidden rounded">
        <img
          src="{{ "images/categories-img-2.png" | asset_url }}"
          alt="Woman in white dress"
          class="absolute inset-0 h-full w-full object-cover"
        />
        <div class="relative z-10 text-center">
          <h2
            class="mb-6 text-[24px] leading-[33.6px] [font-variant:all-small-caps] md:text-[32px] md:leading-[41.6px]"
          >
            BEST SELLERS
          </h2>
          <button class="bg-primary text-primary-foreground rounded px-4 py-3">Shop now</button>
        </div>
      </div>
    </div>
  </div>
</section>
