<section
  class="relative flex min-h-[700px] items-center justify-center overflow-hidden px-4 py-6 md:min-h-[480px] md:px-16 md:py-32"
>
  <div
    class="absolute inset-0 -z-10 bg-cover bg-center bg-no-repeat md:bg-bottom"
    style="background-image:url('{{ 'images/countdown-bg.png' | asset_url }}')"
  >
    <div class="bg-primary/5 absolute inset-0"></div>
  </div>
  <div class="theme-container">
    <div class="grid gap-x-20 gap-y-8 lg:grid-cols-12 lg:items-center">
      <div class="space-y-6 lg:col-span-6">
        <div>
          <span class="text-[16px] leading-normal [font-variant:all-small-caps]"> LIMITED TIME ONLY </span>
          <h2
            class="text-[40px] leading-[48px] uppercase [font-variant:all-small-caps] md:text-[56px] md:leading-[67.2px]"
          >
            SUPER SALE UP TO 40% OFF
          </h2>
          <p class="text-[20px] leading-[28px] [font-variant:all-small-caps]">
            Shop our collection of exclusive handbags and backpacks at reduced price during super sale. Hurry up!
          </p>
        </div>
        <a
          href="#"
          class="bg-primary text-primary-foreground rounded px-4 py-3"
        >
          Shop now
        </a>
      </div>
      <div class="lg:col-span-6">
        <div class="flex items-stretch gap-2 md:gap-4 lg:justify-end">
          <div
            class="bg-background/30 flex min-w-16 flex-col items-center justify-center rounded p-2 text-center backdrop-blur-xs md:min-w-24"
          >
            <span
              class="text-primary text-[32px] leading-[41.6px] [font-variant:all-small-caps] md:text-[48px] md:leading-[57.6px]"
            >
              45
            </span>
            <span class="text-primary text-[16px] leading-normal [font-variant:all-small-caps]"> DAY </span>
          </div>
          <span
            aria-hidden="true"
            class="my-2 w-px bg-white/60"
          ></span>

          <div
            class="bg-background/30 flex min-w-16 flex-col items-center justify-center rounded p-2 text-center backdrop-blur-xs md:min-w-24"
          >
            <span
              class="text-primary text-[32px] leading-[41.6px] [font-variant:all-small-caps] md:text-[48px] md:leading-[57.6px]"
            >
              45
            </span>
            <span class="text-primary text-[16px] leading-normal [font-variant:all-small-caps]"> Hour </span>
          </div>
          <span
            aria-hidden="true"
            class="my-2 w-px bg-white/60"
          ></span>
          <div
            class="bg-background/30 flex min-w-16 flex-col items-center justify-center rounded p-2 text-center backdrop-blur-xs md:min-w-24"
          >
            <span
              class="text-primary text-[32px] leading-[41.6px] [font-variant:all-small-caps] md:text-[48px] md:leading-[57.6px]"
            >
              45
            </span>
            <span class="text-primary text-[16px] leading-normal [font-variant:all-small-caps]"> Min </span>
          </div>
          <span
            aria-hidden="true"
            class="my-2 w-px bg-white/60"
          ></span>
          <div
            class="bg-background/30 flex min-w-16 flex-col items-center justify-center rounded p-2 text-center backdrop-blur-xs md:min-w-24"
          >
            <span
              class="text-primary text-[32px] leading-[41.6px] [font-variant:all-small-caps] md:text-[48px] md:leading-[57.6px]"
            >
              45
            </span>
            <span class="text-primary text-[16px] leading-normal [font-variant:all-small-caps]"> Sec </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
