<section class="px-4 py-6 md:p-16">
  <div class="theme-container">
    <h2
      class="text-primary mb-6 text-[32px] leading-[41.6px] [font-variant:all-small-caps] md:text-[40px] md:leading-[48px]"
    >
      Summer night mode
    </h2>
    <div class="grid auto-rows-[153px] grid-cols-2 gap-4 md:auto-rows-[314px] md:grid-cols-4">
      <div class="col-span-2 row-span-2 overflow-hidden rounded md:col-span-2 md:row-span-2">
        <img
          src="{{ "images/bento-1.png" | asset_url }}"
          alt=""
          class="h-full w-full object-cover"
        />
      </div>
      <div class="overflow-hidden rounded">
        <img
          src="{{ "images/bento-2.png" | asset_url }}"
          alt=""
          class="h-full w-full object-cover"
        />
      </div>
      <div class="overflow-hidden rounded">
        <img
          src="{{ "images/bento-3.png" | asset_url }}"
          alt=""
          class="h-full w-full object-cover"
        />
      </div>
      <div class="overflow-hidden rounded">
        <img
          src="{{ "images/bento-4.png" | asset_url }}"
          alt=""
          class="h-full w-full object-cover"
        />
      </div>
      <div class="overflow-hidden rounded">
        <img
          src="{{ "images/bento-5.png" | asset_url }}"
          alt=""
          class="h-full w-full object-cover"
        />
      </div>
    </div>
  </div>
</section>
