<section
  class="relative flex min-h-[700px] items-center justify-center overflow-hidden px-4 py-6 md:min-h-[480px] md:px-16 md:py-32"
>
  <div
    class="absolute inset-0 -z-10 bg-cover bg-center bg-no-repeat md:bg-bottom"
    style="background-image:url('{{ 'images/hero-2.jpg' | asset_url }}')"
  >
    <div class="absolute inset-0 bg-black/5"></div>
  </div>
  <div class="theme-container">
    <div class="space-y-6">
      <div>
        <h2
          class="text-[40px] leading-[48px] uppercase [font-variant:all-small-caps] md:text-[56px] md:leading-[67.2px]"
        >
          Make every entrance unforgettable
        </h2>
        <p class="text-[20px] leading-[28px] [font-variant:all-small-caps]">
          Discover timeless designs formal occasions, crafted to make every moment unforgettable. From elegant gowns to
          refined accessories, find everything you need to turn heads and capture hearts.
        </p>
      </div>
      <a
        href="#"
        class="bg-primary text-primary-foreground rounded px-4 py-3"
      >
        Shop now
      </a>
    </div>
  </div>
</section>
