<section class="px-4 py-3 md:px-16 md:py-16">
  <div class="theme-container space-y-6">
    <h2
      class="text-primary text-[32px] leading-[41.6px] [font-variant:all-small-caps] md:text-[40px] md:leading-[48px]"
    >
      CUSTOMER TESTIMONIALS
    </h2>
    <div class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
      <article class="border-secondary bg-foreground rounded border p-6">
        <div
          class="flex items-center gap-1"
          aria-label="5 out of 5 stars"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M12 18.1704L18.18 21.9004L16.54 14.8704L22 10.1404L14.81 9.53039L12 2.90039L9.19 9.53039L2 10.1404L7.46 14.8704L5.82 21.9004L12 18.1704Z"
              fill="#FFB400"
            ></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M12 18.1704L18.18 21.9004L16.54 14.8704L22 10.1404L14.81 9.53039L12 2.90039L9.19 9.53039L2 10.1404L7.46 14.8704L5.82 21.9004L12 18.1704Z"
              fill="#FFB400"
            ></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M12 18.1704L18.18 21.9004L16.54 14.8704L22 10.1404L14.81 9.53039L12 2.90039L9.19 9.53039L2 10.1404L7.46 14.8704L5.82 21.9004L12 18.1704Z"
              fill="#FFB400"
            ></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M12 18.1704L18.18 21.9004L16.54 14.8704L22 10.1404L14.81 9.53039L12 2.90039L9.19 9.53039L2 10.1404L7.46 14.8704L5.82 21.9004L12 18.1704Z"
              fill="#FFB400"
            ></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M12 18.1704L18.18 21.9004L16.54 14.8704L22 10.1404L14.81 9.53039L12 2.90039L9.19 9.53039L2 10.1404L7.46 14.8704L5.82 21.9004L12 18.1704Z"
              fill="#FFB400"
            ></path>
          </svg>
        </div>

        <p class="mt-6 mb-4 text-[16px] leading-[24px]">
          “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
          Duis cursus, mi quis viverra ornare.”
        </p>

        <h3 class="text-[16px] leading-[24px] font-semibold">Name Surname</h3>
      </article>
      <article class="border-secondary bg-foreground rounded border p-6">
        <div
          class="flex items-center gap-1"
          aria-label="5 out of 5 stars"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M12 18.1704L18.18 21.9004L16.54 14.8704L22 10.1404L14.81 9.53039L12 2.90039L9.19 9.53039L2 10.1404L7.46 14.8704L5.82 21.9004L12 18.1704Z"
              fill="#FFB400"
            ></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M12 18.1704L18.18 21.9004L16.54 14.8704L22 10.1404L14.81 9.53039L12 2.90039L9.19 9.53039L2 10.1404L7.46 14.8704L5.82 21.9004L12 18.1704Z"
              fill="#FFB400"
            ></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M12 18.1704L18.18 21.9004L16.54 14.8704L22 10.1404L14.81 9.53039L12 2.90039L9.19 9.53039L2 10.1404L7.46 14.8704L5.82 21.9004L12 18.1704Z"
              fill="#FFB400"
            ></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M12 18.1704L18.18 21.9004L16.54 14.8704L22 10.1404L14.81 9.53039L12 2.90039L9.19 9.53039L2 10.1404L7.46 14.8704L5.82 21.9004L12 18.1704Z"
              fill="#FFB400"
            ></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M12 18.1704L18.18 21.9004L16.54 14.8704L22 10.1404L14.81 9.53039L12 2.90039L9.19 9.53039L2 10.1404L7.46 14.8704L5.82 21.9004L12 18.1704Z"
              fill="#FFB400"
            ></path>
          </svg>
        </div>

        <p class="mt-6 mb-4 text-[16px] leading-[24px]">
          “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
          Duis cursus, mi quis viverra ornare.”
        </p>

        <h3 class="text-[16px] leading-[24px] font-semibold">Name Surname</h3>
      </article>
      <article class="border-secondary bg-foreground rounded border p-6">
        <div
          class="flex items-center gap-1"
          aria-label="5 out of 5 stars"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M12 18.1704L18.18 21.9004L16.54 14.8704L22 10.1404L14.81 9.53039L12 2.90039L9.19 9.53039L2 10.1404L7.46 14.8704L5.82 21.9004L12 18.1704Z"
              fill="#FFB400"
            ></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M12 18.1704L18.18 21.9004L16.54 14.8704L22 10.1404L14.81 9.53039L12 2.90039L9.19 9.53039L2 10.1404L7.46 14.8704L5.82 21.9004L12 18.1704Z"
              fill="#FFB400"
            ></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M12 18.1704L18.18 21.9004L16.54 14.8704L22 10.1404L14.81 9.53039L12 2.90039L9.19 9.53039L2 10.1404L7.46 14.8704L5.82 21.9004L12 18.1704Z"
              fill="#FFB400"
            ></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M12 18.1704L18.18 21.9004L16.54 14.8704L22 10.1404L14.81 9.53039L12 2.90039L9.19 9.53039L2 10.1404L7.46 14.8704L5.82 21.9004L12 18.1704Z"
              fill="#FFB400"
            ></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M12 18.1704L18.18 21.9004L16.54 14.8704L22 10.1404L14.81 9.53039L12 2.90039L9.19 9.53039L2 10.1404L7.46 14.8704L5.82 21.9004L12 18.1704Z"
              fill="#FFB400"
            ></path>
          </svg>
        </div>

        <p class="mt-6 mb-4 text-[16px] leading-[24px]">
          “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
          Duis cursus, mi quis viverra ornare.”
        </p>

        <h3 class="text-[16px] leading-[24px] font-semibold">Name Surname</h3>
      </article>
    </div>
  </div>
</section>
