{# Toggle Component #}
<label
  class="text-foreground text-body1 {{ wrapper_class|default('') }} flex cursor-pointer items-center gap-2"
>
  <input
    type="checkbox"
    id="{{ id }}"
    name="{{ name }}"
    value="{{ value|default('on') }}"
    {% if checked %}checked{% endif %}
    {% if disabled %}disabled{% endif %}
    {% if required %}required{% endif %}
    class="toggle peer {{ class|default('') }} sr-only"
    {{ attrs|safe }}
  />
  <div
    class="peer-checked:bg-foreground bg-border-disabled relative h-6 w-10 shrink-0 rounded-full p-1 transition-all peer-disabled:cursor-not-allowed peer-disabled:opacity-50 peer-checked:[&>div]:translate-x-4 rtl:peer-checked:[&>div]:-translate-x-4"
  >
    <div class="bg-background size-4 rounded-full transition-transform duration-300"></div>
  </div>
  {% if label %}{{ label }}{% endif %}
</label>
