@import "tailwindcss";

:root {
  --header-h: 107px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-destructive: var(--destructive);
  --font-sans: var(--font-family);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  background: var(--background);
  color: var(--primary);
}

.theme-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

/* noUiSlider Price Range Styles */
.price-range-slider {
  margin: 8px 2px 22px !important;
}

/* Track background */
.noUi-target {
  border: none !important;
  box-shadow: none !important;
  background: var(--foreground) !important;
  border-radius: calc(var(--radius) - 2px) !important;
  display: flex !important;
  height: 4px !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  flex-shrink: 0 !important;
}

.noUi-base,
.noUi-connects {
  border-radius: inherit !important;
  width: 100% !important;
  height: 100% !important;
}

/* Filled / connect segment */
.noUi-connect {
  border-radius: calc(var(--radius) - 2px) !important;
  background: #a89c90 !important;
}

/* Handles */
.noUi-horizontal .noUi-handle {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50px !important;
  border: 2px solid #a89c90 !important;
  background: white !important;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) !important;
  cursor: pointer !important;
  top: -8px !important;
  transform: translateX(-50%) !important;
}

/* Remove default little bars */
.noUi-handle::before,
.noUi-handle::after {
  display: none !important;
}

/* RTL Support */
[dir="rtl"] .noUi-horizontal .noUi-handle {
  transform: translateX(50%) !important;
}

[dir="rtl"] .noUi-horizontal {
  direction: rtl !important;
}
