{% extends "layout.jinja" %}

{% block title %}{{ store.name }} – {{ _('Home') }}{% endblock %}

{% block content %}
  <h1 class="hidden">{{ store.settings.branding.seo.title if store.settings.branding.seo and store.settings.branding.seo.title and store.settings.branding.seo.title is defined else store.name }}</h1>
  {% template_components %}
{% endblock %}
